.card-signin {
  margin: 50px;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 3.5rem;
  color: white;
}

.card-signin .card-body {
  padding: 2rem;
  background-image:linear-gradient(260deg, #233cae 0%, #da6464 100%);
  
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1.5rem;
  transition: all 0.2s;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}