<script>
  let mainNav = document.getElementById('js-menu');
  let navBarToggle = document.getElementById('js-navbar-toggle');

  navBarToggle.addEventListener('click', function () {
    mainNav.classList.toggle('active');
  });
</script>


<div class="container-fluid">
  

<nav class="navbar">
  <span class="navbar-toggle" id="js-navbar-toggle">
    <i class="fad fa-bars"></i>  </span>
  <a href="#" class="logo">
    <img src="../assets/logo.PNG" width="70" height="60" class="d-inline-block align-top" alt="SulavService"> SulavService
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="main-nav" id="js-menu">
      <li>
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>

      <li>
        <a class="nav-link" [routerLink]="['/product']">Services</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </li>
      <li *ngIf !="loggedIn; else logout">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      
        <ng-template #logout>
          <li>
          <button class="btn-danger" (click)="signOut()" type="button">Log Out</button>
          </li>
        </ng-template>
        
        
     
 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
    </ul>
  </div>
  
  
    
</nav>



</div>  
  
<div class='container'>
  <router-outlet></router-outlet>
</div>

  

