<nav class="navbar navbar navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <!--Another Component for company logo-->
            <a class="navbar-brand" href="#">SulavService</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="" (click)="onClickHomeNavbar()"><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Our Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"> Register</span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"> Login</span></a></li>
        </ul>

    </div>

</nav>